<body>
  <div class="navbar">
    <button class="btn btn-primary w-100" (click)="register()">Register</button>
    <button class="btn btn-primary w-100" (click)="home()">Home</button>
    <button class="btn btn-primary w-100" (click)="login()">Login</button>
    <button class="btn btn-primary w-100" (click)="topic()">Topic</button>
    

</div>

<div class="home-container">
    <h2>Welcome to the  Quiz Contest!</h2>
    <p>
      Test your knowledge and improve your skills with our interactive quiz.
      Compete with others and see where you stand in the leaderboard!
    </p>
    <button class="btn btn-primary w-100" (click)="register()">Register</button>
    

  </div>


</body>